<h1>{{deal.name}}</h1>

<h3>Status: {{deal.status}}</h3>
<h3>amount: {{deal.amount}}</h3>

<h3>Contacts:</h3>
<ul class="people_list">
    {{#each deal.Contacts}}
    <li><a href="/contacts/{{this.id}}"> {{this.firstName}}</a></li>
    {{/each}}
</ul>


<button class="btn-primary" id="add-contact">+ Contact</button>


<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <form action="/deals/{{deal.id}}/addContact" method="POST">
                        <input type="text" name="firstName" id="firstName" placeholder="First Name"><br>
                        <input type="text" name="lastName" id="lastName" placeholder="Last Name"><br>
                        <input type="text" name="company" id="company" placeholder="Company"><br>
                        <input type="text" name="addressOne" id="addressOne" placeholder="Address 1"><br>
                        <input type="text" name="addressTwo" id="addressTwo" placeholder="Address 2"><br>
                        <input type="text" name="city" id="city" placeholder="City"><br>
                        <input type="text" name="state" id="tate" placeholder="State"><br>
                        <input type="text" name="zip" id="zip" placeholder="Zip"><br>
                        <input type="tel" name="phone" id="phone" placeholder="Mobile"><br>
                        <input type="submit">
                    </form>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../public/js/deal.js"></script>