<h1>{{contact.firstName}} {{contact.lastName}}</h1>
<h4><a href="/companies/{{contact.Company.id}}">{{contact.Company.name}}</a></h4>
<h4>address</h4>
<p>{{contact.address1}}</p>
<p>{{contact.address2}}</p>
<p>{{contact.city}}</p>
<p>{{contact.state}}</p>
<p>{{contact.Zip}}</p>

<h4>phone</h4>
<p>{{contact.phone}}
</p>
<h4>email</h4>
<p>{{contact.email}}</p>

<h2>Deals</h2>

<ul class="people_list">
    {{#each contact.Deals}}
    <li><a href="/deals/{{this.id}}"> {{this.name}} - ${{this.amount}}</a></li>
    {{/each}}
</ul>